doctype 5
meta(charset='utf-8')
title おまえは今まで食ったパンの枚数をおぼえているのか?
link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
link(rel='stylesheet', href='css/style.css')
script.
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-43486767-7']);
  _gaq.push(['_setAllowAnchor', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

.container
  h1 おまえは今まで食ったパンの枚数をおぼえているのか?
  .row
    p.col-sm-3 created by <a href="https://twitter.com/progremaster">@progremaster</a>
      span(style='margin: 5px 4px')
    a.col-sm-1.twitter-share-button(href='https://twitter.com/share', data-lang='ja', data-url='http://www.prgrssv.net/izayoi/breads/') ツイート
  .animate(ng-view, style='margin-top: 32px')
    div(style='text-align: center; margin: 40px auto; font-size: 24px')
      | ⏳
script(src='//code.jquery.com/jquery-2.0.3.min.js')
script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.js')
if debug
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.js')
else
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.min.js')
if debug
  script(src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js', data-main='javascript/config')
  script(src='//localhost:35729/livereload.js')
else
  script(src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js', data-main='js/main')
script.
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
